<div class="tweet-form__header clearfix">
  <p class="left h2">
    New Tweet
  </p>
  <i class="material-icons right" (click)="tweetFormContainer.close()">close</i>
</div>
<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="formLoaded">
  <table>
    <tr class="accounts" formArrayName="accounts">
      <td>
        <label>Accounts: </label><br />
        <div
          *ngFor="let account of form.value.accounts; let i =index"
          [formGroupName]="i">
        <mat-checkbox
          formControlName="checked">
          {{account.accountName}}
        </mat-checkbox>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <textarea
            matInput placeholder="今何してる？" rows="4"
            formControlName="tweetText">
          </textarea>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <button type="submit" mat-raised-button color="primary" class="right">Tweet</button>
      </td>
    </tr>
  </table>
</form>
