<h2 class="h2">Hello World! Welcome to Yuitter : )</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form-margin">
  <div>
    <mat-form-field>
      <input matInput placeholder="Mail Address" formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">
      Sign up to Yuitter
    </button>
  </div>
</form>
