<div class="account-form__header clearfix">
  <p class="left h2">
    New Account
  </p>
  <i class="material-icons right" (click)="accountFormContainer.toggle()">close</i>
</div>
<form #tweetForm="ngForm" (ngSubmit)="submit()">
  <table class="account-form__name" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Account Name">
    </mat-form-field></td>
  </tr></table>
  <div>
    <button type="submit" mat-raised-button color="primary" class="right">Save</button>
  </div>
</form>
