// Material Design Theme
@import '~@angular/material/theming';
@include mat-core();

// primary color
$primary: mat-palette($mat-blue);
$dark-primary: #1976D2;
$light-primary: #BBDEFB;

// accent color
$accent:  mat-palette($mat-deep-orange);

// warn color
$warn:    mat-palette($mat-red);

// theme
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
