.sidebar {
  width: 50px;
  height: 100%;
  position: fixed;
  padding-top: 5px;
  z-index: 9999;
}

.icon {
  font-size: 28px;

  &:hover + .icon-description {
    display: inline-block;
  }
}

.icon-description {
  position: relative;
  bottom: 36px;
  left: 45px;
  height: 26px;
  padding: 8px 8px 0 5px;
  display: none;
  white-space: nowrap;
}
