<div class="timeline">
  <header class="timeline__header dark-base">
    <i class="timeline__header__icon material-icons">person</i>
    <span class="timeline__header__title h2">User Name</span>
  </header>
  <div class="timeline__contents">
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
    <ytr-tweet-card></ytr-tweet-card>
  </div>
</div>
